
body
{
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: var(--background-color);
}

:root
{
  --nav-bar-color: #d9d9d9;
  --nav-bar-color-hover: #a6a6a6;
  --login-container-color: lightblue;
  --background-color: #e1e3e8;
}

.navBar
{
  height: 49px;
  background-color: var(--nav-bar-color);
  display: flex;
  align-items: center;
  font-size: 1.5em;
  opacity: 0.9;
  padding: 0px 10px;
  justify-content: space-between;
  width: calc(100% - 20px);
  border-bottom: 1px solid red;
}

.navContainer
{
  display: flex;
  justify-content: flex-end
  width: 50%;
}

.sign
{
  margin-right: 0px;
  padding: 0px 10px;
  display: flex;
  height: 100%;
  line-height: 50px;
}

.sign:hover
{
  background-color: var(--nav-bar-color-hover);
}

/* Login*/
.loginContainer
{
  max-width: 930px;
  width: 100%;
  display: flex;
  height: calc(100% - 80px);
  background-color: red;
  margin: auto;
  background-color: var(--login-container-color);
  padding: 15px;
  justify-content: space-between;
  font-size: 2em;
}

.loginField
{
  background-color: white;
  width: 50%;
  height: 100%;
}

.loginFieldTitle
{
  background-color: var(--nav-bar-color);
  boder-bottom: 1px solid black;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 51px;
}


.inputLoginField
{
  display: flex;
  width: 96%;
  height: 40px;
  margin-top: 3%;
  margin-left: 2%;
  padding-left: 2%;
}

.inputSignInField
{
  display: flex;
  width: 96%;
  height: 40px;
  margin-top: 3%;
  margin-left: 2%;
  padding-left: 2%;
}

.login
{
  background-color: white;
  border: 1px solid #666666;
  color: #666666;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  display: flex;
  height: 40px;
  text-align: center;
  width: 50px;
}

#login
{
  width: 50px;
  height: 30px;
  background-color: white;
  border: 1px solid #666666;
  margin-top: 4%;
  margin-left: 2%;
  opacity: 0.8;
}

#signIn
{

    width: 70px;
    height: 30px;
    background-color: white;
    border: 1px solid #666666;
    margin-top: 4%;
    margin-left: 2%;
    opacity: 0.8;
}
/*Login*/
